<ion-content>
  <ion-grid fullscreen>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="8" size-md="8" size-sm="12" size-xs="12">
        <p-card header="{{cardHeader}}">
          <form [formGroup]="formulario">
            <ion-row>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12" style="margin-top: 15px">
                  <span class="p-float-label">
                    <input type="text" pInputText formControlName="nombre" [style]="{'minWidth':'100%', 'width': '100%'}">
                    <label>Nombre *</label>
                  </span>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12" style="margin-top: 15px">
                  <span class="p-float-label">
                    <app-turno formControlName="turno"></app-turno>
                  </span>
              </ion-col>

              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12" style="margin-top: 15px">
              <span class="p-float-label">
                  <app-programa formControlName="programa"></app-programa>
              </span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12" style="margin-top: 15px">
                  <span class="p-float-label">
                    <input type="number" formControlName="cupoMinimo" pInputText [style]="{'minWidth':'100%', 'width': '100%'}">
                    <label>Cupo minimo *</label>
                  </span>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12" style="margin-top: 15px">
                  <span class="p-float-label">
                    <input type="number" formControlName="cupoMaximo" pInputText [style]="{'minWidth':'100%', 'width': '100%'}">
                    <label>Cupo maximo *</label>
                  </span>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12" style="margin-top: 15px">
                 <span class="p-float-label">
                    <input type="text" pInputText formControlName="profesor" [style]="{'minWidth':'100%', 'width': '100%'}">
                    <label>Docente *</label>
                  </span>
              </ion-col>
            </ion-row>
            <ion-row>

                <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12" style="margin-top: 15px">
                    <input (change)="capturarFoto($event)" type="file" [style]="{'minWidth':'50%', 'width': '50%'}">
                </ion-col>
            </ion-row>
          </form>
        </p-card>
        <div class="p-grid">
          <div class="p-col-6" style="margin-top: 10px;">
            <ion-button (click)="volver()" color="light">
              <ion-icon class="padding-right-icono" name="arrow-back"></ion-icon>
              Volver
            </ion-button>
          </div>
          <div class="p-col-6 ion-text-end " style="margin-top: 10px;">
            <ion-button (click)="guardarCurso()">
              Guardar
              <ion-icon class="padding-left-icono" name="save"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
