<ion-content>
  <ion-grid fullscreen>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="9" size-md="9" size-sm="12" size-xs="12">
        <ion-row class="ion-align-items-center">
          <ion-col size-lg="10" size-md="10" size-sm="12" size-xs="12">
                      <span class="p-input-icon-left" style="min-width: 100%; width:100%;">
              <i class="pi pi-search"></i>
              <input _ngcontent-wbv-c208="" type="text" name="Busqueda" placeholder="Buscar programa"
                     (keydown.enter)="buscar(buscador)" [(ngModel)]="buscador" ng-reflect-name="Busqueda"
                     ng-reflect-model="" class="ng-pristine ng-valid p-inputtext p-component ng-touched"
                     style="min-width: 100%; width: 100%; margin-top: 4px;">
            </span>
          </ion-col>
          <ion-col size-lg="2" size-md="2" size-sm="12" size-xs="12" class="ion-text-center">
            <ion-button color="primary" (click)="crearPrograma()">
              Crear
              <ion-icon class="padding-left-icono" name="add"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="9" size-md="9" size-sm="12" size-xs="12">
        <p-card header="Lista de programas">
          <p-table [value]="programas" [rows]="5" [paginator]="true" autoLayout="true">
            <ng-template let-columns pTemplate="header">
              <tr>
                <th style="text-align: center">nombre</th>
                <th style="text-align: center">Modificar</th>
                <th style="text-align: center">Eliminar</th>
              </tr>
            </ng-template>
            <ng-template let-programa let-i="rowIndex" pTemplate="body">
              <tr>
                <td>{{ programa.nombre }}</td>
                <td>
                  <p-button color="primary" size="small" (click)="modificar(programa)">
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                  </p-button>
                </td>
                <td>
                  <p-button color="primary" size="small" (click)="eliminar(programa)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                  </p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
