<p-table [value]="usuarios" [rows]="5" [paginator]="true" autoLayout="true">
  <ng-template let-columns pTemplate="header">
    <tr>
      <th style="text-align: center">Nombre</th>
      <th style="text-align: center">Apellido</th>
      <th style="text-align: center">Dni</th>
      <th style="text-align: center">Modificar</th>
      <th style="text-align: center">Eliminar</th>
    </tr>
  </ng-template>
  <ng-template let-usuario let-i="rowIndex" pTemplate="body">
    <tr>
      <td>{{ usuario.nombre }}</td>
      <td>{{ usuario.apellido }}</td>
      <td>{{ usuario.dni }}</td>
      <td>
        <p-button color="primary" size="small" (click)="modificar(usuario)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </p-button>
      </td>
      <td>
        <p-button color="primary" size="small" (click)="eliminar(usuario)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
