.circular--square {
  border-radius: 50%;
  cursor: pointer;
  border: #b4a9a9 solid;
}

.profile-pic{
  width: 150px;
  height: 150px;
  background-color: yellow;
  border-radius: 50%;
  bottom: -140px;
  left: 20px;
  background-size: cover;
}

.edit{
  width: 150px;
  height: 150px;
  background-color: rgba(0,0,0,.3);
  border-radius: 50%;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  ion-icon{
    font-size: 24px;
  }
}
.edit:hover{
  opacity: 1;
}

