<ion-header>
  <app-cabecera></app-cabecera>
</ion-header>
<ion-content>
  <ion-grid fullscreen>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="8" size-md="8" size-sm="12" size-xs="12">
        <p-card header="Crear o modificar administrativo">
          <form [formGroup]="formulario">
            <ion-row>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12" style="margin-top: 15px">
                  <span class="p-float-label">
                    <input type="number" formControlName="dni" pInputText [style]="{'minWidth':'100%', 'width': '100%'}">
                    <label>DNI *</label>
                  </span>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12" style="margin-top: 15px">
                <app-fecha (fechaSeleccionada)="setearFecha($event)" label="Fecha de Nacimiento *"></app-fecha>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12" style="margin-top: 15px">
                  <span class="p-float-label">
                    <input formControlName="nombre" type="text" pInputText [style]="{'minWidth':'100%', 'width': '100%'}">
                    <label>Nombre *</label>
                  </span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12" style="margin-top: 15px">
                  <span class="p-float-label">
                    <input formControlName="apellido" type="text" pInputText [style]="{'minWidth':'100%', 'width': '100%'}">
                    <label>Apellido *</label>
                  </span>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12" style="margin-top: 15px">
                  <span class="p-float-label">
                    <input formControlName="domicilio" type="text" pInputText [style]="{'minWidth':'100%', 'width': '100%'}">
                    <label>Domicilio *</label>
                  </span>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12" style="margin-top: 15px">
                  <span class="p-float-label">
                    <input formControlName="telefono" type="number" pInputText [style]="{'minWidth':'100%', 'width': '100%'}">
                    <label>Telefono *</label>
                  </span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12" style="margin-top: 15px">
                <app-genero formControlName="genero"></app-genero>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12" style="margin-top: 15px">
                <app-clave-input formControlName="clave" labelClave="Clave " [mostrarPassword]="true"></app-clave-input>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12" style="margin-top: 15px">
                <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12" style="margin-top: 15px">
                  <app-clave-input formControlName="repetirClave" labelClave="Repetir clave " [mostrarPassword]="true"></app-clave-input>
                </ion-col>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12" style="margin-top: 15px">
                  <span class="p-float-label">
                    <input formControlName="email" type="text" pInputText [style]="{'minWidth':'100%', 'width': '100%'}">
                    <label>Email *</label>
                  </span>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12" style="margin-top: 15px">
                  <span class="p-float-label">
                    <input formControlName="repetirEmail" type="text" pInputText [style]="{'minWidth':'100%', 'width': '100%'}">
                    <label>Repetir email *</label>
                  </span>
              </ion-col>
            </ion-row>
          </form>
        </p-card>
        <div class="p-grid">
          <div class="p-col-6" style="margin-top: 10px;">
            <ion-button (click)="volver()"color="light">
              <ion-icon class="padding-right-icono" name="arrow-back"></ion-icon>
              Volver
            </ion-button>
          </div>
          <div class="p-col-6 ion-text-end " style="margin-top: -45px">
            <ion-button (click)="guardarAdministrativo()">
              Guardar
              <ion-icon class="padding-left-icono" name="save"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
