<p-dataView #dv [value]="cursos" [paginator]="false" [rows]="10" filterBy="nombre" layout="grid">
  <ng-template let-curso pTemplate="gridItem">
    <div class="p-col-12 p-md-2">
      <div class="product-grid-item card">
        <ion-icon name="book-outline"></ion-icon>
        <ion-row style="margin-top: -28px; margin-left: 30px" class="product-name">{{curso.nombre}}</ion-row>
        <ion-item-divider style="margin-top: -25px"></ion-item-divider>
        <br>
        <img *ngIf="curso.imagen?.foto" [src]="curso.imagen.foto" style="height: 130px; width: 425px">
        <p-accordion>
          <p-accordionTab header="Mas informacion">
            <div>
              <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
                <ion-row class="ion-align-self-auto">
                  <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
                    <label>Turno: <b>{{curso.turno}}</b></label>
                  </ion-col>
                  <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
                    <label>Modalidad: {{curso.modalidad}}</label>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center">
                  <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
                    <label>Aula: {{curso.aula}}</label>
                  </ion-col>
                  <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
                    <label>Duracion: {{curso.duracion}}</label>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center">
                  <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
                    <label>Fecha inicio: {{curso.fechaInicio}}</label>
                  </ion-col>
                  <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
                    <label>Fecha fin: {{curso.fechaFinalizacion}}</label>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-start">
                  <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
                    <label style="margin-right: 150px">Horario: {{curso.horario}}</label>
                  </ion-col>
                </ion-row>
              </ion-col>
            </div>
          </p-accordionTab>
        </p-accordion>
        <ion-row class="ion-align-items-center">
          <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
            <ion-button color="primary" shape="round" (click)="verAlumnos(curso)">Alumnos</ion-button>
          </ion-col>
          <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
            <ion-button color="primary" shape="round" (click)="aulaVirtual(curso)">Aula virt</ion-button>
          </ion-col>
          <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
            <ion-button color="primary" shape="round" (click)="verProfesor(curso)">Docente</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <app-dialog-docente *ngIf="displayDialog" [curso]="curso"
                        (showDialogConsultaVistaPrevia)="switchDialogConsultaVistaPrevia($event)">
    </app-dialog-docente>
  </ng-template>
</p-dataView>
