<p-dataView #dv [value]="cursos" [paginator]="true" [rows]="5" filterBy="nombre" layout="grid">
  <ng-template let-curso pTemplate="gridItem">
    <div class="p-col-12 p-md-2">
      <div class="product-grid-item card">
        <img [src]="curso.imagen" style="height: 105px; width: 105px">
        <div class="product-grid-item-content">
          <div class="product-name">{{curso.nombre}}</div>
          <div class="product-description">{{curso.profesor}}</div>
        </div>
        <div class="product-grid-item-bottom">
          <p-button *ngIf="home === false" pTooltip="Mas Informacion" icon="pi pi-window-maximize"></p-button>
          <p-button  *ngIf="insc" pTooltip="Inscribirse" icon="pi pi-plus" (click)="inscribirse(curso)"></p-button>
          <p-button pTooltip="Inscribirse" *ngIf="home === true" icon="pi pi-plus" (click)="masInformacion()"></p-button>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
