<ion-header>
  <app-cabecera></app-cabecera>
</ion-header>
<ion-content>
  <ion-grid fullscreen>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="8" size-md="8" size-sm="12" size-xs="12">
        <p-card [header]="cardHeader">
          <form [formGroup]="empleadoForm">
            <ion-row style="margin-bottom: 1em">
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
               <span class="p-float-label">
                 <input formControlName="dni" oninput="this.value=this.value.replace(/[^\d]/,'')" minlength="7" maxlength="8" id="float-dni" type="text" pInputText [style]="{'minWidth':'100%', 'width': '100%'}">
                 <label for="float-nombre">Dni *</label>
             </span>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
             <span class="p-float-label">
                 <input formControlName="nombre" id="float-nombre" type="text" pInputText [style]="{'minWidth':'100%', 'width': '100%'}">
                 <label for="float-nombre">Nombre *</label>
             </span>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
             <span class="p-float-label">
                 <input formControlName="apellido" id="float-apellido" type="text" pInputText [style]="{'minWidth':'100%', 'width': '100%'}">
                 <label for="float-apellido">Apellido *</label>
             </span>
              </ion-col>
            </ion-row>
            <ion-row style="margin-bottom: 1em">
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
                  <app-puesto formControlName="puesto"></app-puesto>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
             <span class="p-float-label">
                 <input pInputText formControlName="email" id="float-email" mask="99-aa" [style]="{'minWidth':'100%', 'width': '100%'}"
                        characterPattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})">
                 <label for="float-email">Email *</label>
             </span>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
             <span class="p-float-label">
                 <input (blur)="validateEmail()" pInputText formControlName="confirmacionEmail" id="float-validateemail" [style]="{'minWidth':'100%', 'width': '100%'}"
                        mask="99-aa"
                        (paste)="$event.preventDefault()"
                        characterPattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})">
                 <label for="float-validateemail">Repetir email *</label>
             </span>
              </ion-col>
            </ion-row>
            <ion-row style="margin-bottom: 1em">
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
                <app-fecha (fechaSeleccionada)="setearFecha($event)" [fechaPadre]="empleadoForm.controls.fechaNacimiento.value" label="Fecha de Nacimiento *"></app-fecha>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
                <app-genero formControlName="genero"></app-genero>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
             <span class="p-float-label">
                 <input type="text" formControlName="domicilio" pInputText [style]="{'minWidth':'100%', 'width': '100%'}">
                 <label>Domicilio *</label>
             </span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
               <span class="p-float-label">
                 <input formControlName="sueldo" oninput="this.value=this.value.replace(/[^\d]/,'')" minlength="1" maxlength="5" id="float-legajo" type="text" pInputText [style]="{'minWidth':'100%', 'width': '100%'}">
                 <label for="float-nombre">Salario *</label>
             </span>
              </ion-col>
                <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
               <span class="p-float-label">
                 <input formControlName="telefono" oninput="this.value=this.value.replace(/[^\d]/,'')" minlength="7" maxlength="12" id="float-telefono" type="text" pInputText [style]="{'minWidth':'100%', 'width': '100%'}">
                 <label for="float-nombre">Telefono *</label>
             </span>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-lg="3" size-md="3" size-sm="12" size-xs="12">
                    <ion-button size="small" (click)="clickBtn()">
                        <label>Subir Foto </label>
                        <ion-icon name="cloud-upload-outline"></ion-icon>
                        <input #fileInput hidden type="file" (change)="capturarFoto($event)">
                    </ion-button>
                </ion-col>
                <ion-col size-lg="5" size-md="5" size-sm="12" size-xs="12" style="margin-top: 0.5em">
                    <label>{{imagenHeader}}</label>
                </ion-col>
            </ion-row>
          </form>
        </p-card>
        <div class="p-grid">
          <div class="p-col-6" style="margin-top: 10px;">
            <ion-button (click)="volver()"color="light">
              <ion-icon class="padding-right-icono" name="arrow-back"></ion-icon>
              Volver
            </ion-button>
          </div>
          <div class="p-col-6 ion-text-end " style="margin-top: -45px">
            <ion-button (click)="guardarAdministrativo()">
              Guardar
              <ion-icon class="padding-left-icono" name="save"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
