<ion-header>
  <app-cabecera></app-cabecera>
</ion-header>
<ion-content>
  <ion-grid fullscreen>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="9" size-md="9" size-sm="12" size-xs="12">
        <ion-row class="ion-align-items-center">
          <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <ion-searchbar type="text" showCancelButton="focus" placeholder="Buscar alumnos"
                           (ionChange)="buscar($event.detail.value)"></ion-searchbar>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="9" size-md="9" size-sm="12" size-xs="12">
        <p-card header="Lista de alumnos">
          <app-table [cantidadElementos]="5" [cols]="cols" [totalRegistrosBackend]="totalRegistrosBackend"
                     [dataBackend]="alumnosTable" [imageButton]="true" [editButton]="true" (cargarData)="loadData($event)"
                     (editarItem)="editarAlumno($event)" inspectButton="true" [paginator]="paginador"></app-table>
        </p-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
