<span class="p-input-icon-right p-float-label full-width">
    <i class="{{passwordIcon}}" (click)="toggleMostrarPassword()"></i>
    <input type="password" [style]="{'minWidth':'100%', 'width': '100%'}"
        [feedback]="mostrarFeedback" [id]="labelClave" [formControl]="password"
        [showPassword]="mostrarPassword" 
        promptLabel="Escriba una contraseña. Mínimo seis carácteres." 
        weakLabel="Su contraseña no es segura"
        mediumLabel="Su contraseña es poco segura" strongLabel="Su contraseña es segura" pPassword />
    <label [for]="labelClave">{{labelClave}} *</label>
</span>
