<ion-content>
  <ion-grid fullscreen>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="8" size-md="8" size-sm="12" size-xs="12">
        <p-card header="Crear alumno">
          <form [formGroup]="alumnoForm">
            <ion-row style="margin-bottom: 1em">
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
                  <app-dni formControlName="dni" (change)="findUsuarioByDni()"></app-dni>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
             <span class="p-float-label">
                 <input formControlName="nombre" id="float-nombre" type="text" pInputText [style]="{'minWidth':'100%', 'width': '100%'}">
                 <label for="float-nombre">Nombre *</label>
             </span>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
             <span class="p-float-label">
                 <input formControlName="apellido" id="float-apellido" type="text" pInputText [style]="{'minWidth':'100%', 'width': '100%'}">
                 <label for="float-apellido">Apellido *</label>
             </span>
              </ion-col>
            </ion-row>
            <ion-row style="margin-bottom: 1em">
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
                  <app-fecha [disabled]="disableInputs" (fechaSeleccionada)="setearFecha($event)" [fechaPadre]="alumnoForm.controls.fechaNacimiento.value" label="Fecha de Nacimiento *"></app-fecha>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
                  <app-genero formControlName="genero"></app-genero>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
                  <app-celular [disable]="disableInputs" formControlName="telefono"></app-celular>
              </ion-col>
            </ion-row>
            <ion-row style="margin-bottom: 1em">
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
                  <app-estado-civil formControlName="estadoCivil"></app-estado-civil>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
                  <app-nivel-educativo formControlName="nivelEducativo"></app-nivel-educativo>
              </ion-col>
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
             <span class="p-float-label">
                 <input type="text" formControlName="domicilio" pInputText [style]="{'minWidth':'100%', 'width': '100%'}">
                 <label>Domicilio *</label>
             </span>
              </ion-col>
            </ion-row>
              <ion-row style="margin-bottom: 1em">
                  <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
                   <span class="p-float-label">
                      <input pInputText id="float-email" [style]="{'minWidth':'100%', 'width': '100%'}"
                      formControlName="email">
                      <label for="float-email">Email *</label>
                    </span>
                  </ion-col>
                  <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
                    <span class="p-float-label">
                     <input (blur)="validateEmail()" pInputText id="float-validateemail" [style]="{'minWidth':'100%', 'width': '100%'}"
                           formControlName="confirmarEmail" mask="99-aa" (paste)="$event.preventDefault()">
                     <label for="float-validateemail">Repetir email *</label>
                   </span>
                  </ion-col>
              </ion-row >
              <ion-row style="margin-bottom: 1em">
                  <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
                      <app-clave-input [disabledInput]="disableInputs" formControlName="clave" [labelClave]="'Contraseña'"></app-clave-input>
                  </ion-col>
                  <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
                      <app-clave-input [disabledInput]="disableInputs" formControlName="confirmarClave" mostrarFeedback="true" (change)="validateClaves()" [labelClave]="'Confirmar Contraseña'"></app-clave-input>
                  </ion-col>
              </ion-row>
            <ion-row style="margin-bottom: 1em">
              <ion-col size-lg="4" size-md="5" size-sm="12" size-xs="12">
                <ion-button size="small" (click)="clickBtn()" [disabled]="disableInputs">
                  <label>Subir Foto de perfil </label>
                  <ion-icon name="cloud-upload-outline"></ion-icon>
                  <input #fileInput hidden type="file" (change)="capturarFoto($event)">
                </ion-button>
              </ion-col>
              <ion-col size-lg="8" size-md="7" size-sm="12" size-xs="12" style="margin-top: 0.5em">
                <label>{{imagenHeader}}</label>
              </ion-col>
            </ion-row>
          </form>
        </p-card>
        <div class="p-grid">
          <div class="p-col-6" style="margin-top: 10px;">
            <ion-button (click)="volver()"color="light">
              <ion-icon class="padding-right-icono" name="arrow-back"></ion-icon>
              Volver
            </ion-button>
          </div>
          <div class="p-col-6 ion-text-end " style="margin-top: -45px">
            <ion-button (click)="guardarAlumno()">
              Guardar
              <ion-icon class="padding-left-icono" name="save"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
