<ion-content>
  <ion-grid fullscreen class="vertical-align-content">
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
        <ion-row class="ion-justify-content-center" style="margin-top: 8em">
          <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <p-card header="Generar nueva clave" [style]="{'border-radius': '1em'}">
              <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
                <ion-row style="margin-top: -2em; margin-bottom: 3em">
                  <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
                    <ion-label>{{usuario.nombre}} {{usuario.apellido}}</ion-label>
                  </ion-col>
                </ion-row>
                <form [formGroup]="postulanteForm" autocomplete="nope">
                  <ion-row style="margin-top: 1em">
                    <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12" style="margin-top: -2em; margin-bottom: 1em">
                      <app-clave-input [labelClave]="'Contraseña'" formControlName="clave"></app-clave-input>
                    </ion-col>
                  </ion-row>
                  <ion-row style="margin-top: 2em; margin-bottom: -2em">
                    <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12" style="margin-top: -2em; margin-bottom: 1em">
                      <app-clave-input [labelClave]="'Repetir Contraseña'" formControlName="repetirClave" (change)="validateClaves()"></app-clave-input>
                    </ion-col>
                  </ion-row>
                </form>
              </ion-col>
            </p-card>
              <div class="p-grid" style="margin-bottom: -3em">
                  <div class="p-col-6">
                      <ion-button (click)="volver()"color="light">
                          <ion-icon class="padding-right-icono" name="arrow-back"></ion-icon>
                          Volver
                      </ion-button>
                  </div>
                  <div class="p-col-6 ion-text-end " style="margin-top: 10px;">
                      <ion-button (click)="generarClave()" [disabled]="!postulanteForm.valid ||disableBtnAceptar" style="margin-top: -90px">
                          {{btnAceptarTxt}}
                      </ion-button>
                  </div>
              </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
