<ion-header>
    <app-cabecera></app-cabecera>
</ion-header>
<ion-content>
  <div id="container">
    <ion-row class="ion-justify-content-center">
    <p-card class="p-col-7">
    <div class="p-col-12">
<!--      <app-vista-cursos [cursos]="cursos" [home]="true" [insc]="false"></app-vista-cursos>-->
      <br>
      <ion-row class="ion-justify-content-center">
        <ion-col style="margin-top: 10px">
          <label>Instituto Zaraza S.A</label>
        </ion-col>
        <ion-col>
          <ion-button>
            <ion-icon name="logo-linkedin"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="logo-youtube"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    </p-card>
    </ion-row>
  </div>
</ion-content>
