<ion-header>
    <app-cabecera></app-cabecera>
</ion-header>
<ion-content>
  <div id="container">
    <h1>Cursos disponibles</h1>
    <ion-row class="ion-justify-content-center">
      <p-carousel
              [value]="cursos"
              [numScroll]="3"
              [numVisible]="3"
              [showNavigators]="true">
        <ng-template let-curso pTemplate="item">
          <app-curso [curso]="curso"></app-curso>
        </ng-template>

      </p-carousel>
    </ion-row>
  </div>
</ion-content>
