<p-table [columns]="cols"  [value]="dataBackend" [rows]="cantidadElementos" [paginator]="paginator"
         autoLayout="true" [totalRecords]="totalRegistrosBackend" [lazy]="true" (onLazyLoad)="loadData($event)">
    <ng-template let-columns pTemplate="header">
      <tr class="card">
        <th *ngIf="imageButton">
          Foto
        </th>
        <ng-container *ngFor="let col of columns">
          <th class="ion-text-center" style="width:20%">
            {{col.header}}
          </th>
          <ng-template #elseBlock>
            <th class="ion-text-center">
              {{col.header}}
            </th>
          </ng-template>
        </ng-container>
        <th class="ion-text-center" style="width:22%" *ngIf="accionButton">
          Acción
        </th>
        <th class="ion-text-center" style="width:22%" *ngIf="inspectButton">
          Ver
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-curso let-columns="columns">
      <tr [ngClass]="{'greenBackground': curso.inscripto}" class="card">

        <td *ngIf="imageButton">
          <img width="50px" [src]="curso.imagen">
        </td>
        <td class="ion-text-center" *ngFor="let col of columns">
          {{curso[col.field]}}
        </td>
        <td>
          <ion-button size="small" color="light" class="secondary-button" *ngIf="!curso.inscripto && accionButton" pTooltip="Inscribirse"
                      (click)="emitirParaInscribirse(curso.id)">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
          <ion-button size="small" color="light" class="secondary-button" *ngIf="curso.inscripto && accionButton" pTooltip="Desinscribirse"
                      (click)="emitirParaDesinscribirse(curso.id)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </td>
        <td style="text-align: center" *ngIf="inspectButton">
          <ion-button size="small" color="light" class="secondary-button" *ngIf="inspectButton" pTooltip="Inspeccionar"
                      (click)="emitirIdParaInspeccionar(curso.id)">
            <ion-icon name="eye"></ion-icon>
          </ion-button>
        </td>
      </tr>
    </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="10">No se encontraron datos</td>
    </tr>
  </ng-template>
  </p-table>
