a.saraza {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #c9c8c8;
  cursor: pointer;
}

.test {
  position: absolute;
  width: 1440px;
  height: 137px;
  left: 0px;
  top: 0px;
}
