<ion-header [style]="{'background-color':'#ffffff','border-color':'#ffffff'}" *ngIf="isAuthenticated|async">
  <ion-row>
    <ion-col size-lg="5" size-md="5" size-sm="2" size-xs="2">
      <ion-buttons float-left="">
        <ion-menu-button style="color: #1262e0" ></ion-menu-button>
      </ion-buttons>
    </ion-col>
    <ion-col style="margin-top: 10px" size-lg="6" size-md="6" size-sm="12" size-xs="12">
      <a style="color: #1262e0" class="saraza" (click)="navegarHome()">
        Instituto T&L S.A
      </a>
    </ion-col>
    <ion-col *ngIf="(rolState|async)?.idRol === 0 ||  (rolState|async)?.idRol === 1" style="margin-top: 15px" size-lg="1" size-md="1" size-sm="12" size-xs="12">
      <span class="p-overlay-badge" pTooltip="Notificaciones">
        <i class="pi pi-bell" style="font-size: 1.5em; color: #1262e0!important;" (click)="openDialog()" ></i>
        <span class="p-badge">{{cantDesinscripcionesState|async}}</span>
      </span>
      <app-dialog-solicitudes-desinscripcion *ngIf="dialogSolicitudesDesinscripcion" (showDialogConsultaSolicitudesDsinscripcion)="switchDialogSolicitudesDesinscripcion($event)"></app-dialog-solicitudes-desinscripcion>
    </ion-col>
  </ion-row>
</ion-header>