<ion-header>
  <app-cabecera></app-cabecera>
</ion-header>
<ion-content>
  <ion-grid fullscreen>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="9" size-md="9" size-sm="12" size-xs="12">
        <p-card header="Lista de cursos disponibles">
            <app-lista-cursos-inscriptos [cursos]="cursosNoInscriptos"></app-lista-cursos-inscriptos>
        </p-card>
      </ion-col>
      <ion-col size-lg="9" size-md="9" size-sm="12" size-xs="12">
        <p-card *ngIf="cursosInscriptos.length >= 1" header="Lista de cursos inscriptos">
            <app-lista-cursos-inscriptos [cursos]="cursosInscriptos"></app-lista-cursos-inscriptos>
        </p-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
